extends layout

block content
  h1 Hi

//- from hello.pug
//- extends layout

//- //- block header
//- //-   h2 YO!

//- block content
//-   p Hello
//-   h2 Sale ends #{h.moment().endOf('day').fromNow()}

//- block footer
//-   p i love you